{% extends 'pages/layout.html.twig' %}

{% block title %}Portfolio Collaboration
{% endblock %}

{% block body %}
	<div>
		<h1 class="text-3xl">Bienvenue sur Portfolio Collaboration! ✅</h1>
	</div>
{% endblock %}
